#container{
    text-align: center;
}
.dice{
    text-align: center;
    display: inline-block;
}
body{
    background-color: #C7B7A3;
}
h1{
    font-size: 8rem;
    font-family: 'Lobster', cursive;
    color: #6D2932;
    text-shadow: 5px 0 #AC7D88;
}
p{
    font-family: 'Indie Flower', cursive;
    color: #6D2932;
    font-size: 3rem;
}
img{
    width: 80%;
}

footer{
    font-family: 'Indie Flower', cursive;
    text-align: center;
    color: #561C24;
    margin-top: 5%;

}